<%- include partials/header.ejs %>

<div class='edit user-column'>
  <img class='profile-pic' src='<%= posts[0].picture %>'/>
  <div class='box'>
    <form action='/profile/<%= posts[0].username %>' method='post'>
      <p>Name: </p>
      <input class='edit-input' type='text' name='name' value='<%= posts[0].name %>'>
      <br>
      <p>Current City:</p>
      <input class='edit-input' type='text' name='current_city' value='<%= posts[0].current_city %>'>
      <br>
      <br>
      <p>Member since: <%= posts[0].join_date %></p>
      <button type="submit" class='edit-profile'>Save Changes</button>
    </form>
  </div>
</div>

<div class='user-column'>
  <img class='profile-pic' src='<%= posts[0].picture %>'/>
  <div class='box'>
    <h1><%= posts[0].name %></h1>
    <br>
    <p>Current City: <%= posts[0].current_city %></p>
    <br>
    <p>Member since: <%= posts[0].join_date %></p>
    <button class='edit-profile'>Edit Profile</button>
  </div>
</div>



<div class='post-column'>
  <% if (posts[0].title) {
    posts.forEach( post => { %>
      <p class='box blue-box' >  <%= post.title%> </p>
    <% })
  } else { %>
    <p> This user has no posts </p>
  <% } %>


</div>


<%- include partials/footer.ejs %>
