<%- include partials/header.ejs %>
<div class='user-column'>
  <img class='profile-pic' src='<%= user.picture %>'/>
  <div class='box'>
    <h1><%= user.name %></h1>
    <br>
    <p>Current City: <%= user.current_city %></p>
    <br>
    <p>Member since: <%= user.join_date %></p>
    <button class='edit-profile'>Edit Profile</button>
  </div>
</div>

<div class='post-column'>
  <p>This is where the posts go!</p>
</div>


<%- include partials/footer.ejs %>
